.card {
  height: 400px;
  border-radius: 8px;
  box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
}

.card-eclipse {
  background: #40363B;
}

.card-eastbay {
  background: #4E586F;
}

.card-vulcan {
  background: #181719;
}

.card-candy {
  background: #EE7477;
}

.card-lust {
  background: #E52726;
}

.card-biscay {
  background: #1A3D68;
}
